@import "tailwindcss" important prefix(tw);

:root {
  --cst-color:  #a00876;
  --cst-color-code: #acacac;
}

@theme {
  --color-fuchsia-800: var(--cst-color);
}

code {
  color: var(--cst-color-code);
  font-size: 12px;
}

.react-json-view {
  font-size: 12px;
  word-break: break-all;
}

.twCenterContent {
  @apply tw:max-w-6xl tw:mx-auto tw:pt-30 tw:px-4;
}

/* https://tailwindcss.com/docs/dark-mode#toggling-dark-mode-manually */
@custom-variant dark (&:where(.dark, .dark *));