// @import '../../../packages/snd-react-lib/src/css/globals.scss';

// ----------------------------------------------

$widthPhone: 425;
$widthDesktop: 1440;

$maxWidth: 600px;
$maxWidthDesktop: none;
// $maxWidthDesktop: 1440px;
// $maxWidthDesktop: 1600px;
// $maxWidthDesktop: 1680px;
// $maxWidthDesktop: 1920px;
// $maxWidthDesktop: 2560px;

$contentFrame: 24;
$contentFrameDesktop: 200;

$contentWidth: $widthPhone - ($contentFrame * 2);
$contentWidthDesktop: $widthDesktop - ($contentFrameDesktop * 2);

$marginTop: 90;
$marginTopDesktop: 120;

// ----------------------------------------------

$colorWhite: #FFF;
$colorBlack: #4a7284;
$colorHighlight: $colorBlack;
$colorGrey: #999;

$colorBlack: #565656;
$colorHighlight: #A00876;

// ----------------------------------------------

$fontFamilyPri: 'Montserrat', sans-serif;
$fontFamilySec: 'Comfortaa', sans-serif;

// ----------------------------------------------

$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightMedium: 500;
// $fontWeightSemiBold: 600;
$fontWeightBold: 700;

$fontItalic: italic;
$fontUppercase: uppercase;

$fontStyleSmall: 12;
$fontStyleNormal: 16;
$fontSizeBig: 21;
$fontSizeLarge: 48;

$fontStyleSmallDesktop: 18;
$fontStyleNormalDesktop: 32;
$fontSizeBigDesktop: 42;
$fontSizeLargeDesktop: 60;

// ---------------------------------------------- Phone

@mixin fontStyleSmall {
  @include fontStyleNormal();
  font-size: px($fontStyleSmall);
  line-height: 137%;
}

@mixin fontStyleNormal {
  font-family: var(--fontFamilyPri);
  font-weight: $fontWeightMedium;
  font-size: px($fontStyleNormal);
  line-height: 137%;
  // line-height: px(22);
}

@mixin fontStyleBig {
  @include fontStyleNormal();
  font-size: px($fontSizeBig);
  line-height: 125%;
}

@mixin fontStyleLarge {
  @include fontStyleNormal();
  font-family: var(--fontFamilySec);
  font-weight: $fontWeightLight;
  font-weight: $fontWeightLight;
  font-size: px($fontSizeLarge);
  line-height: 120%;
  // text-transform: lowercase;
}

// ---------------------------------------------- Desktop

@mixin fontStyleSmallDesktop {
  @include fontStyleSmall();
  font-size: px($fontStyleSmallDesktop);
  line-height: 137%;
}

@mixin fontStyleNormalDesktop {
  @include fontStyleNormal();
  font-size: px($fontStyleNormalDesktop);
}

@mixin fontStyleBigDesktop {
  @include fontStyleBig();
  font-size: px($fontSizeBigDesktop);
}

@mixin fontStyleLargeDesktop {
  @include fontStyleLarge();
  font-family: var(--fontFamilySec);
  font-size: px($fontSizeLargeDesktop);
  line-height: 120%;
}

// ----------------------------------------------

@mixin backgroundImage($url, $size: contain

  /* cover */
  , $position: center) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-size: $size;
  background-position: $position;
}